// Colores principales
$primary-color: #c44536; // Color del área de búsqueda
$secondary-color: #197278; // Color de los botones de navegación
$bg-color: #f8f9fa; // Fondo general
$text-color: #333; // Color de texto principal
$dark-color: #1d3557; // Color para títulos
$white: #ffffff; // Blanco puro

// Colores para la sección de productos
$products-bg: #edddd4; // Fondo detrás de los productos
$product-card-bg: #283d3b; // Fondo de las tarjetas
$product-border: #772e25; // Borde de las tarjetas
$view-more-btn: #aed9e0; // Botón View More
$product-text: #ffffff; // Texto en las tarjetas